aside {
  font-family: 'Open Sans', 'sans-serif';
  cursor: pointer;
  width: 100%;
  color: darken($secondaryColor, 15%);
  border: solid .2em darken($secondaryColor, 15%);
  padding: .5em;
  margin-bottom: 18em;
  background-color: transparent;
  border-radius: 4px;
  &:hover {
    color: $secondaryColor;
    border: solid .2em $secondaryColor;
  }
  &:active {
    color: $secondaryColor;
    border: solid .2em $secondaryColor;
  }
}

code {
  font-family: "Courier New", Courier, monospace, sans-serif;
  text-align: left;
  color: #000;
}

pre code {
  line-height: 1.6em;
  font-size: .8em;
}
pre {
  background-color: #F5F2F0;
  padding: 0.1em 0.5em 0.3em 0.7em;
  border: .1em solid $primaryColor;
  border-left: 1em solid $primaryColor;
  margin: 1.7em 0 1.7em 0.3em;
  overflow: auto;
  width: 93%;
  background: url(http://perishablepress.com/wp/wp-content/themes/wire/img/pre.png) repeat 0 -0.9rem;
}

pre code[class]:before {
  content: attr(class);
  display: block;
  text-align: right;
  font-size: 1em;
  padding-top: .4em;
  padding-right: .1em;
}

