//Color Variables
/////////////////

$primaryColor: #ee9966;
$secondaryColor: #88aa66;
$darkAccentColor: #115555;
$lightAccentColor: #eecc66;
$borderColor: #224444;

//Hover Links
/////////////
$primaryHover: darken($primaryColor, 15%);
$secondaryHover: darken($secondaryColor, 15%);

//Typography Variables
//////////////////////

$serif-text:'Droid Serif';
$sans-text: 'Open Sans';

