//Header layout styles
//////////////////////

header {
  @include span-columns(12);
  text-align: center;
  margin-bottom: 4em;
  background-color: $primaryColor;
  padding: .5em;
  h1 {
    color: white;
    margin-bottom: .15em;
    font-weight: bold;
    text-shadow: 0px -1px 0px $darkAccentColor;
    float: left;
  };
  h2 {
    font-size: 1.25em;
    color: white;
    float: right;
    margin-top: 3em;
  };
  span {
    font-style: italic;
    font-weight: bolder;
    font-size: .75em;
    color: $darkAccentColor;
  };
}
.head-container {
  background-color: $primaryColor;
  width: 100%;
}


