h1 {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 4em;
}
h2 {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 3.5em;
}
h3 {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 3em;
}
h4 {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 2.5em;
}
h5 {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 2em;
}
h6 {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 1.5em;
}

p {
  margin: 1em;
}

a {
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  &:hover {

  }
  &:visited {

  }
  &:active {

  }
}
