//Color Variables
/////////////////

$blue: #115555;
$darkblue: #224444;
$pink: #ee9966;
$yellow: #eecc66;
$green: #88aa66;
$ice-blue: #bbdddd;

//Hover Links
/////////////
$pink-dark: darken($pink, 15%);
$midnight-blue: darken($darkblue, 15%);

//Typography Variables
//////////////////////

$serif-text:'Droid Serif';
$sans-text: 'Open Sans';

