doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title AVAN Style Guide of Awesomeness
    meta(name='description', content='My new project description')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=0.5 maximum-scale=1.0')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    link(rel='stylesheet', href='stylesheets/application.css')
    link(rel='stylesheet', href='stylesheets/prism.css')
    script(src='//localhost:35729/livereload.js')
    script(src='javascripts/main.js')
    script(src='javascripts/prism.js')
  body
    section(class="wrapper")
        header
            include includes/header
        nav
            include includes/nav
        article(class="main-content")
            include includes/color
            include includes/typography
            include includes/forms
            include includes/buttons
            include includes/code-blocks
            include includes/lists
            include includes/images
            include includes/videos
            include includes/bars
        footer
            include includes/footer





