@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%; }


.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix:before, .clearfix:after, .row:before, .row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.row:after, .clearfix:after {
  clear: both; }

.row, .clearfix {
  zoom: 1; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

h1 {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 4em; }

h2 {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 3.5em; }

h3 {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 3em; }

h4 {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 2.5em; }

h5 {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 2em; }

h6 {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 1.5em; }

p {
  margin: 1em; }

.color1, .color2, .color3, .color4, .color5 {
  display: inline-block;
  height: 100px;
  width: 100px;
  padding: 1em;
  margin: 0.5em; }

.color1 {
  background-color: #115555; }

.color2 {
  background-color: #224444; }

.color3 {
  background-color: #ee9966; }

.color4 {
  background-color: #eecc66; }

.color5 {
  background-color: #88aa66; }

.button-1, .button-2, .button-warn {
  padding: 1em;
  border-radius: 4px;
  text-transform: uppercase;
  transition: all 0.2s ease;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font: bold 1em "Open Sans", sans-serif;
  text-decoration: none;
  border: none; }

.btn-slide, .btn-submit {
  padding: 0.5em;
  background-color: transparent;
  border-radius: 4px;
  font: bold 0.75em "Open Sans", sans-serif;
  text-transform: uppercase;
  transition: all 0.2s ease;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  color: #bbdddd;
  border: solid 0.2em #091111; }

.button-1 {
  background-color: #115555;
  color: #bbdddd;
  text-shadow: 0px -1px 0px #091111; }
  .button-1:hover {
    background-color: #091111; }

.button-2 {
  background-color: #88aa66;
  color: #bbdddd;
  text-shadow: 0px -1px 0px #091111; }
  .button-2:hover {
    background-color: #091111; }

.button-warn {
  background-color: #ee9966;
  color: #091111;
  text-shadow: 0px -1px 0px #e66921; }
  .button-warn:hover {
    background-color: #e66921; }

.btn-slide {
  width: 100%;
  color: #091111; }
  .btn-slide:hover {
    color: #115555;
    border: solid 0.2em #115555; }

.btn-submit {
  margin: 1em auto;
  width: 100%;
  color: #091111; }
  .btn-submit:hover {
    color: #115555;
    border: solid 0.2em #115555; }

input[type="text"], input[type="email"], textarea {
  border: solid 0.15em #091111;
  font-size: 1em;
  min-height: 1.5em;
  width: 100%;
  display: block;
  margin: 0.5em 0;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.9);
  color: #091111;
  border-radius: 4px;
  padding: 1em;
  font-family: "Open Sans", sans-serif;
  -webkit-appearance: none; }

label {
  color: #115555;
  font: bold 1.2em "Open Sans", sans-serif; }

.wrapper {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .wrapper:before, .wrapper:after {
    content: " ";
    display: table; }
  .wrapper:after {
    clear: both; }
  .wrapper header, .wrapper footer {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .wrapper header:last-child, .wrapper footer:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      .wrapper header, .wrapper footer {
        float: left;
        display: block;
        margin-right: 3.57866%;
        width: 100%; }
        .wrapper header:last-child, .wrapper footer:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 480px) {
      .wrapper header, .wrapper footer {
        float: left;
        display: block;
        margin-right: 4.82916%;
        width: 100%; }
        .wrapper header:last-child, .wrapper footer:last-child {
          margin-right: 0; } }
  .wrapper .main-content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
    .wrapper .main-content:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      .wrapper .main-content {
        float: left;
        display: block;
        margin-right: 3.57866%;
        width: 100%; }
        .wrapper .main-content:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 480px) {
      .wrapper .main-content {
        float: left;
        display: block;
        margin-right: 4.82916%;
        width: 100%; }
        .wrapper .main-content:last-child {
          margin-right: 0; } }
  .wrapper nav {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .wrapper nav:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      .wrapper nav {
        float: left;
        display: block;
        margin-right: 3.57866%;
        width: 100%; }
        .wrapper nav:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 480px) {
      .wrapper nav {
        float: left;
        display: block;
        margin-right: 4.82916%;
        width: 100%; }
        .wrapper nav:last-child {
          margin-right: 0; } }
