%color {
  display: inline-block;
  height: 100px; 
  width: 100px;
  padding: 1em;
  margin: .5em;
}

.color1 {
  @extend %color;
  background-color: $primaryColor;
}

.color2 {
  @extend %color;
  background-color: $secondaryColor;
}

.color3 {
  @extend %color;
  background-color: $lightAccentColor;
}

.color4 {
  @extend %color;
  background-color: $darkAccentColor;
}

.color5  {
  @extend %color;
  background-color: $borderColor;
}
