nav {
  padding: .5%;
  padding-right: 4%;
  width: 100%;
  position: fixed;
  top: 10em;
  right: 0;
  color: $darkAccentColor;
  font-weight: bold;
  @include media($tablet) {
    position: fixed;
    top: 0;
    line-height: 0;
    border: none;
  }
  a {
    padding-bottom: .2em;
  }
  .sub {
    padding-left: 1.2em;
  }
}

