nav {
  padding: .5%;
  padding-right: 4%;
  width: 100%;
  position: fixed;
  top: 10em;
  right: 0;
  color: $darkAccentColor;
  font-weight: bold;
  a {
    padding-bottom: .2em;
  }
  .sub {
    padding-left: 1.2em;
  }
  @include media($tablet) {
    
  }
  @include media($mobile) {

  }
}

