nav {
  padding: .5%;
  padding-right: 4%;
  width: 100%;
  position: fixed;
  top: 10em;
  right: 0;
  color: $darkAccentColor;
  font-weight: bold;
  a {
    padding-bottom: .2em;
  }
  .sub {
    padding-left: 1.2em;
  }
  @include media($tablet) {
    nav .nav {
      display: none;
    }
    nav select {
      display: inline-block;
    }
  }
  @include media($mobile) {

  }
}

select {
  display: none
}

//Mobile styles
///////////////

.mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  padding: .2em;
  @include media($desktop) {
    display: none;
  }
}

.active {
  display: block;
}

#panel {
  position: fixed;
  top: 0;
  right: 4em;
  width: auto;
  display: none;
  background-color: $primaryColor;
  padding: .25em;
  border-radius: 4px;
  margin-top: 0;
  select {
    display: block;
  }
}
