section
  h1 Colors
  hr
  div.colorwrap
    div.primaryColor #ee9966
    div.secondaryColor #88aa66
    div.lightAccentColor #eecc66
    div.darkAccentColor #115555
    div.borderColor #224444
  section.sourceCode
    aside.sourceButton View Source Code
      pre
        code.scss.
          $primaryColor: #ee9966;
          $secondaryColor: #88aa66;
          $darkAccentColor: #115555;
          $lightAccentColor: #eecc66;
          $borderColor: #224444;

          section {
            color: $primaryColor;
            background-color: $lightAccentColor;
          }
