section
  h1 Colors
  hr
  div.colorwrap
    div.color1 #115555
    div.color2 #224444
    div.color3 #ee9966
    div.color4 #eecc66
    div.color5 #88aa66
  button.btn-slide View Source Code
  section.sourceCode
    pre
      code.scss.
        $primaryColor: #ee9966;
        $secondaryColor: #88aa66;
        $darkAccentColor: #115555;
        $lightAccentColor: #eecc66;
        $borderColor: #224444;

        section {
          color: $primaryColor;
          background-color: $lightAccentColor;
        }
