section
  h1 Colors
  div.colorwrap
    div.color1 #115555
    div.color2 #224444
    div.color3 #ee9966
    div.color4 #eecc66
    div.color5 #88aa66
  button.btn-slide View Source Code
  section.sourceCode
    div.sassSource(id="panel")
      pre
        code.
          $blue: #115555;
          $darkblue: #224444;
          $pink: #ee9966;
          $yellow: #eecc66;
          $green: #88aa66;

          section {
            color: $blue;
          }
