footer.clearfix
  p &copy; Macy Aviles and Tyler Anyan Style Guide v0.0.1
  a.alpha-link(href="https://github.com/tganyan/UXEBootCamp-B12.StyleGuide") Check the Github!
  a(href="#header") Return to top

