footer.clearfix
  div.footer-p
    p &copy; Macy Aviles and Tyler Anyan
    p Style Guide v0.0.1
  div.footer-links
    a.alpha-link(href="https://github.com/tganyan/UXEBootCamp-B12.StyleGuide") Check the Github!
    a(href="#header") Return to top

