section
  h1 Images
  div.images
      figure
        img(src='images/placeholder.jpg')
        figcaption.
          This is an image caption. Images on the site will use a 4:3 ratio and captions should be no longer than 2-3 lines long.

  button.btn-slide View Source Code
  section.sourceCode
    div.sassSource(id="panel")
      pre
        code.
