section
  h1 Images
  hr
  div.images
      figure
        img(src='http://placehold.it/560x420')
        figcaption.
          This is an image caption. Images on the site will be set to 100% width inside of their parent container, captions will be no more than 2-3 lines long.

  button.btn-slide View Source Code
  section.sourceCode
    h3 Sass
    div.source(id="panel")
      pre
        code.
          figure {
          width: 80%;
          }

          img {
            width: 100%;
            height: auto;
          }
    h3 Jade
    div.source(id="panel")
      pre
        code.
          figure
            img(src='http://placehold.it/560x420')
            figcaption.
              "Caption text."
