div#panel
        select(name="forma" onchange="location = this.options[this.selectedIndex].value;")
            option(value="#color" class="smoothscroll") Colors
            option(value="#type" class="smoothscroll") Typography
            option(value="" class="smoothscroll") -Font Stacks
            option(value="" class="smoothscroll") -Section Header
            option(value="" class="smoothscroll") -P Tags
            option(value="#forms" class="smoothscroll") Forms
            option(value="#buttons" class="smoothscroll") Buttons
            option(value="#lists" class="smoothscroll") Lists
            option(value="" class="smoothscroll") -Ordered Lists
            option(value="" class="smoothscroll") -Unordered Lists
            option(value="#images" class="smoothscroll") Media
            option(value="#images" class="smoothscroll") -Image
            option(value="#svg" class="smoothscroll") -Svg
            option(value="#videos" class="smoothscroll") -Video
            option(value="#bars" class="smoothscroll") Progress Bar
            option(value="#header" class="smoothscroll") Return to top
