nav
    a(href="") Colors
    a(href="") Typography
    a(href="" class="sub") -Font Stacks
    a(href="" class="sub") -Section Header
    a(href="" class="sub") -P Tags
    a(href="") Forms
    a(href="") Buttons
    a(href="") Lists
    a(href="" class="sub") -Ordered Lists
    a(href="" class="sub") -Unordered Lists
    a(href="") Media
    a(href="" class="sub") -Image
    a(href="" class="sub") -Svg
    a(href="" class="sub") -Video
    a(href="") Progress Bar
