nav
    a(href="#color") Colors
    a(href="#type") Typography
    a(href="" class="sub") -Font Stacks
    a(href="" class="sub") -Section Header
    a(href="" class="sub") -P Tags
    a(href="#forms") Forms
    a(href="#buttons") Buttons
    a(href="#lists") Lists
    a(href="" class="sub") -Ordered Lists
    a(href="" class="sub") -Unordered Lists
    a(href="#images") Media
    a(href="#images" class="sub") -Image
    a(href="#svg" class="sub") -Svg
    a(href="#videos" class="sub") -Video
    a(href="#bars") Progress Bar
