nav
    div.nav
        a(href="#color") Colors
        a(href="#type") Typography
        a(href="#font-stacks"       class="sub") -Font Stacks
        a(href="#section-headers"   class="sub") -Section Header
        a(href="#p-tags"            class="sub") -P Tags
        a(href="#forms") Forms
        a(href="#buttons") Buttons
        a(href="#lists") Lists
        a(href="#ol"                class="sub") -Ordered Lists
        a(href="#ul"                class="sub") -Unordered Lists
        a(href="#images") Media
        a(href="#images"            class="sub") -Image
        a(href="#svg"               class="sub") -Svg
        a(href="#videos"            class="sub") -Video
        a(href="#bars") Progress Bar


