section
  h1 SVG Images
  hr
  div.svg-container
    img(src="http://placeskull.com/100/100/40")
  button.btn-slide View Source Code
  section.sourceCode
    div.source(id="panel")
      pre
        code.
          Sass
          .svg-container {
            max-width: 13em;
            width: 100%;
            height: auto;
            background: url(http://placehold.it/350x150);
          }

    div.source(id="panel")
      pre
        code.
          Jade
          div.svg-container
            img(src="http://placeskull.com/100/100/40")
