section
  h1 Typography
  hr
  h2 Font Stacks
  hr.sub-hr
  p Primary Font: 'Open Sans', 'sans-serif';
  section.sourceCode
    button.btn-slide View Source Code
    pre
      code.scss.
        @import url(http://fonts.googleapis.com/css?family=Open+Sans);
        * {
          font-family: 'Open Sans', 'sans-serif';
          }
  h2 Section Headers
  hr.sub-hr
  h1 This is a h1
  h2 This is a h2
  h3 This is a h3
  h4 This is a h4
  h5 This is a h5
  h6 This is a h6
  section.sourceCode
    button.btn-slide View Source Code
    pre
      code.scss.
        h1 {
          font-family: 'Open Sans', 'sans-serif';
          font-size: 4em;
        }
        h2 {
          font-family: 'Open Sans', 'sans-serif';
          font-size: 3.5em;
        }
        h3 {
          font-family: 'Open Sans', 'sans-serif';
          font-size: 3em;
        }
        h4 {
          font-family: 'Open Sans', 'sans-serif';
          font-size: 2.5em;
        }
        h5 {
          font-family: 'Open Sans', 'sans-serif';
          font-size: 2em;
        }
        h6 {
          font-family: 'Open Sans', 'sans-serif';
          font-size: 1.5em;
        }
    pre
      code.jade.
        h1 I am the Title of the Page
        h2 I am the Subtitle of the Page

  h2 p Tags
  hr.sub-hr
  p. This is wrapped in p tags.  Use p tags for blocks of text.
  section.sourceCode
    button.btn-slide View Source Code
    pre
      code.scss.
        p {
          font-family: 'Open Sans', 'sans-serif';
          padding: 1em;
        }
    pre
      code.jade.
        p This is a block of text that is wrapped in p tags.

  h2 Links
  hr.sub-hr
  a(href="#") Link 1
  a(href="#") Link 2
  a(href="#") Link 3
  a(href="#") Link 4
  section.sourceCode
    button.btn-slide View Source Code
    pre
      code.scss.
        a {
          display: block;
          font-family: 'Open Sans', 'sans-serif';
          font-size: 1em;
          font-weight: bold;
          text-decoration: none;
          color: $primaryColor;
          &:hover {
            color: $primaryHover;
          }
          &:visited {
            color: $secondaryHover;
          }
          &:active {
            color: $primaryHover;
          }
        }
    pre
      code.jade.
        a(href="#") Link 1
        a(href="#") Link 2
        a(href="#") Link 3
        a(href="#") Link 4
